* {
	border: 0;
	padding: 0;
	margin: 0;
}

body {
    font-size: 10px;
    background: cadetblue;
}

.water-bg {
    background-repeat: no-repeat;
	background-position: center center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -o-flex;
    display: flex;
    background-size: cover;
    position: absolute;
}

.topnav {
	overflow: hidden;
	height: 2.2rem;
	padding-top: 20px;
	text-align: center;
	background-color: rgb(253, 236, 224);
	justify-content: center;
	list-style: none;
}

.topnav a {
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 8rem;
	text-decoration: none;
	font-family: 'Dancing Script', cursive !important;
	font-size: 25px;
}

.topnav a:hover {
	transition: 0.5s;
	color: cadetblue;
	font-weight: bold;
	cursor: pointer;
}


.topnav .icon {
    display: flex;
    color: black;
    position: absolute;
    top: 0;
    left: 0;
  }

.jumbotron {
	background-repeat: no-repeat;
	background-position: center center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	background-size: cover;
	text-align: center;
	background-image: url(prop.jpg);
	height: 48rem;
	width: 100%;
}

h1 {
	padding-top: 4rem;
	font-family: 'Dancing Script', cursive !important;
	font-size: 4rem;
	color: rgb(0, 0, 0);
	text-shadow: 2px 2px rgb(253, 236, 224);
}

h3 {
	font-family: 'Dancing Script', cursive !important;
	font-size: 2rem;
	color: rgb(0, 0, 0);
	padding-top: 30px;
	text-shadow: 2px 2px rgb(253, 236, 224);
}

a {
	text-decoration: none;
	font-size: 22px;
    color: black;
    line-height: 1em;
}

.note-container {
	background-color: rgb(253, 236, 224);
	width: 100%;
	text-align: center;
	font-size: 2.5em;
	font-family: 'Dancing Script', cursive !important;
	font-weight: bold;
}

.note-intro {
	padding: 1.25em;
}

.title {
	font-size: 30px;
	font-family: 'Dancing Script', cursive !important;
	text-justify: auto;
}

.subtitle {
	color: rgb(0, 0, 0);
	font-size: 25px;
	font-family: 'Dancing Script', cursive !important;
}

.first-set {
	display: flex;
    flex-direction: row;
    margin-top: 2em;
}

.card-day-1 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.596);
	text-align: center;
	background-color: rgb(253, 236, 224);
	border: solid;
	width: 100%;
	margin: auto;
	height: auto;
    padding: 4em;
    margin-left: 2em;
    margin-right: 4em;
}

.cp-day-1 {
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 47.5rem;
	width: 100%;
	background-image: url('cp-day-1.jpg');
	box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
    transition: 0.3s;
    margin-left: 4em;
    margin-right: 2em;
}

.second-set {
    display: flex;
    flex-direction: row;
    margin-top: 4em;
}

.card-day-2 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.596);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.596);
	text-align: center;
	background-color: rgb(253, 236, 224);
	border: solid;
	width: 100%;
	margin: auto;
	height: auto;
    padding: 4em;
    margin-left: 4em;
    margin-right: 2em;
}

.cp-day-2 {
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 44rem;
	width: 100%;
	background-image: url('Image.jpeg');
	box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
    transition: 0.3s;
    margin-left: 2em;
    margin-right: 4em;
}

.info {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.596);
	display: flex;
	width: 94.5%;
	height: auto;
    padding: 4em;
	text-align: center;
    background-color: rgb(253, 236, 224);
    margin-top: 8em;
}

.info-text {
	font-size: 2rem;
	font-family: 'Dancing Script', cursive !important;
    text-align: center;
}

.info-text a {
    flex-direction: row;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 6em;
	font-family: 'Dancing Script', cursive !important;
	font-size: 30px;
}

@media only screen and (max-width: 768px) {
    nav ul {
		height: 20rem;
		flex-direction: column;
        text-align: center;
    }
    .jumbotron {
		height: 28rem;
		flex-direction: column;
		background-repeat: no-repeat;
		background-position: center center;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: -o-flex;
		display: flex;
        text-align: center;
        width: 100%; 
        /* 65%, 74%, 91%, 100% not sure which one works */
    }
    .note-container {
        flex-direction: column;
        width: 100%; 
        /* 65%, 74%, 91%, 100%  not sure which one works */
    }
    .first-set {
        flex-direction: column;
        
	}
    .cp-day-1 {
        max-width: 700px;
        margin-top: 2em;
   
    }
	.card-day-1 {
        max-width: 650px;
        margin-top: 2em;
        margin-left: 2em;
	}

    .second-set {
        flex-direction: column-reverse;
    }
    .card-day-2 {
        max-width: 650px;
        margin-top: 2em;
        margin-left: 2em;
    }
    .cp-day-2 {
        max-width: 700px;
        margin-left: 2em;
    }
}

@media only screen and (max-width: 480px) {
	nav ul {
		height: 20rem;
		flex-direction: column;
		text-align: center;
	}
	/* nav collapsing into a column but not showing */

	.jumbotron {
		height: 28rem;
		flex-direction: column;
		background-repeat: no-repeat;
		background-position: center center;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: -o-flex;
		display: flex;
        text-align: center;
        width: 100%;
    }
    
    .note-container {
        flex-direction: column;
        width: 100%;
    }

	.first-set {
        flex-direction: column;
        
	}

	.card-day-1 {
        max-width: 285px;
        margin: 2em auto auto auto;
	}

	.cp-day-1 {
        margin: 2em auto auto auto;
        max-width: 350px;
        padding-right: 2em;
    }
    .second-set {
        flex-direction: column-reverse;
    }
    .card-day-2 {
        max-width: 285px;
        margin: 2em auto auto auto;
    }
    .cp-day-2 {
        margin: 2em auto auto auto;
        max-width: 350px;
        padding-right: 2em;
    }
    .info {
        max-width: 300px;
        margin: auto;
        height: auto;
        padding: 4em;
        text-align: center;
        background-color: rgb(253, 236, 224);
        margin-top: 4em;
        }
        .info-text {
            flex-direction: column;
        }
        
        .info-text a {
            flex-direction: column;
            font-size: 25px;
           justify-self: left;
        }
}

/* 
        ISSUES:
    margin right not moving right
    Nav not collapsing
    Nav Burger Button issue
    Nav Link Clickboxes too large -- display: inline block not working
    Info Bar -- possibly
*/

/* 
    $desktop: 1200px;
    $laptop: 1024px;
    $tablet: 768px;
    $phone: 480px;
 */