* {
	border: 0;
	padding: 0;
	margin: 0;
}

body {
    font-size: 10px;
    background: cadetblue;
    font-family: 'Dancing Script', cursive !important;
}

h1 {
	padding-top: 4rem;
	font-size: 4rem;
	color: rgb(0, 0, 0);
}

span {
    background-color: rgba(253, 236, 224, 0.705);
    padding: 10px;
}

h3 {
	font-size: 2rem;
    color: rgb(0, 0, 0);
    padding-top: 20px;
}

h5 {
    font-size: 4em;
}

a {
	text-decoration: none;
	font-size: 22px;
    color: black;
    line-height: 1em;
}

ul {
    list-style-position: inside;
}

/* Navbar styling */

nav {
    background-color: rgb(253, 236, 224);
    height: 80px;
    width: 100%;
}

nav ul {
    display: flex;
    background-color: rgb(253, 236, 224);
    justify-content: space-evenly;
    list-style: none;
}

nav ul li {
    color: rgb(0, 0, 0);
	text-align: center;
	text-decoration: none;
	font-family: 'Dancing Script', cursive !important;
    font-size: 25px;
    padding: 1em;
}

nav ul li a:hover {
	transition: 0.5s;
	color: cadetblue;
	font-weight: bold;
	cursor: pointer;
}

.checkbtn {
    font-size: 30px;
    color: rgb(0, 0, 0);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


  /* Jumbotron styling */

.jumbotron {
	background-repeat: no-repeat;
	background-position: center center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	background-size: cover;
	text-align: center;
	background-image: url(prop8.jpg);
	height: 48rem;
    width: 100%;
}

/* Note container styling (message from bride/groom) */

.note-container {
	background-color: rgb(253, 236, 224);
	width: 100%;
	text-align: center;
	font-size: 2.8em;
	font-family: 'Dancing Script', cursive !important;
    font-weight: bold;
}

.note-intro {
    padding: 1.25em;
    max-width: 700px;
    margin: auto;
}

/* Schedule */

.first-set, .second-set {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    max-width: 1200px;
    margin: 5em auto;
}

.cp-day-1 {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: auto; 
    width: 100%;
    background-image: url('cp-day-1.jpg');
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
    transition: 0.3s;
    max-width: 50%;
    margin-right: 2em;
}

.card-day-1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.596);
    text-align: center;
    background-color: rgb(253, 236, 224);
    margin: auto;
    height: auto;
    max-width: 50%;
    margin-left: 2em;
}

.card-day-2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.596);
    text-align: center;
    background-color: rgb(253, 236, 224);
    margin: auto;
    height: auto;
    width: 100em;
    margin-right: 2em;
}

.cp-day-2 {
	background-image: url('Image.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: auto;
    width: 94%;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
    transition: 0.3s;
    max-width: 50%;
    margin-left: 2em;
}

.schedule {
    padding: 4em;
}

.schedule-date {
    font-size: 2.70em ;
}

.schedule-itinerary {
    font-size: 2.5em;
    line-height: 1.2;
}


/* Times and locations - day of wedding */



/* Info bar at bottom */

.info-container {
    display: flex;
}

#information {
font-size: 1.5em;
}

.info {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.596);
	display: flex;
	width: 94.5%;
	height: auto;
    padding: 4em;
    text-align: space-evenly;
    justify-content: space-evenly;
    background-color: rgb(253, 236, 224);
    margin: 16em 1em 1em 1em;
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

.info-text {
	font-size: 2rem;
	font-family: 'Dancing Script', cursive !important;
    text-align: center;
}

.info-text a {
	color: rgb(0, 0, 0);
	padding: 4em;
	font-family: 'Dancing Script', cursive !important;
    font-size: 30px;
    margin-top: 2em;
}
.info-text a:hover {
	transition: 0.5s;
	color: cadetblue;
	font-weight: bold;
	cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .info {
        max-width: 800px;
        display: flex;
        margin: 4em 17em 6em 17em;
        padding: 2em 1em 1em 1em;
    }

    .info-text {
        padding: 2em 1em 1em 1em;
        flex-direction: column;
        display: flex;
        margin-top: -1.5em;
    }

    .info-text a {
        margin-top: -2em;
    }
}

@media only screen and (max-width: 768px) {
    nav ul {
		height: 20rem;
		flex-direction: column;
        text-align: center;
    }
    .jumbotron {
		height: 70vh;
		flex-direction: column;
		background-repeat: no-repeat;
		background-position: center center;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: -o-flex;
		display: flex;
        text-align: center;
        width: 100%;
    }
    .note-container {
        flex-direction: column;
        width: 100%; 
    }
    .first-set {
        margin: 5em auto 0em auto;
        display: flex;
        flex-direction: column;
    }
    
    .cp-day-1, .cp-day-2 {
        min-height: 600px;
        min-width: 85%;
        width: 100%;
        margin: 5em auto;
    }

	.card-day-1 {
        max-width: 650px;
        margin: auto;
	}

    .second-set {
        margin-top: 0;
        display: flex;
        flex-direction: column-reverse;
    }

    .card-day-2 {
        max-width: 650px;
        margin: auto;
    }

    .info {
        max-width: 800px;
        display: flex;
        margin: 4em 17em 6em 17em;
        padding: 2em 1em 1em 1em;
    }

    .info-text {
        padding: 2em 1em 1em 1em;
        flex-direction: column;
        display: flex;
        margin-top: -1.5em;
        
    }
    
    .info-text a {
        margin-top: -2em;
    }
}

@media only screen and (max-width: 480px) {
    span {
        padding: 0px;
    }

    h1 {
        padding-top: 10px;
        padding-bottom: 6rem;
    }

    .checkbtn {
        display: block;
    }
    
    nav {
        position: sticky;
        top: 0px;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(253, 236, 224);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        
    }

    nav ul li {
        display: block;
        line-height: 30px;
        padding: 0em;
    }

    nav ul li a {
        font-size: 30px;
        
    }
   
    #check:checked ~ ul {
        left: 0;
    }
	
	.jumbotron {
		height: 28rem;
		flex-direction: column;
		background-repeat: no-repeat;
		background-position: center center;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: -o-flex;
		display: flex;
        text-align: center;
        width: 100%;
    }
    
    .note-container {
        flex-direction: column;
        width: 100%;
    }

	.first-set {
        flex-direction: column;
        
	}

	.card-day-1 {
        margin: 2em auto auto auto;
	}

	.cp-day-1 {
        margin: 2em auto auto auto;
        max-width: 350px;
        padding-right: 2em;
    }
    .second-set {
        flex-direction: column-reverse;
    }
    .card-day-2 {
        margin: 2em auto auto auto;
        max-width: 100%;
    }
    .cp-day-2 {
        margin: 2em auto auto auto;
        max-width: 350px;
        padding-right: 2em;
    }

    .info {
        max-width: 300px;
        flex-direction: column;
        padding: 1em;
        text-align: center;
        max-width: 355px;
        height: auto;
        margin: 0em;
        }

        .info-text {
            font-size: 1em;
            margin-top: 1em;
        }

        .schedule {
            padding: 2em;
        }
        
        .schedule-date {
            font-size: 1.70em ;
        }

        .schedule-itinerary {
            font-size: 1.5em;
        }

        #information {
            font-size: 4em;
        }
}

/* 
    $desktop: 1200px;
    $laptop: 1024px;
    $tablet: 768px;
    $phone: 480px;
 */


