* {
    border: 0;
    padding: 0;
    margin: 0;
}

body {
    font-size: 10px;
}
/*
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    height: 100vh;
}
*/

nav {
    overflow: hidden;
    height: 2.2rem;
    padding-top: 20px;
    text-align: center;
    background-color: rgb(253, 236, 224);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
  }

  nav ul {
      padding: 10px;
      display: flex;
      justify-content: center;
      list-style: none;
  }

  nav ul li a {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 8rem;
    text-decoration: none;
    font-family: 'Dancing Script', cursive !important;
    font-size: 25px;

    /* nav spacing is weird, need help */
  }

  nav ul li :hover {
      
      transition: 0.5s;
      color: rgb(109, 0, 252);
      font-weight: bold;
      cursor: pointer;
  }

  .note-container {
    background-color: rgb(253, 236, 224);
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}

.note-intro {
    padding: 1.25em;
}

  @media only screen and (max-width: 700px) {

    nav ul{
        height: 20rem;
        flex-direction: column;
        text-align: center;
       }
       /* nav collapsing into a column but not showing */

      .jumbotron {
          height: 28rem;
          width: 50%;
          flex-direction: column;
          background-repeat: no-repeat;
          background-position: center center;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: -o-flex;
          display: flex;
          text-align: center;
      }

      .card-day-1 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.596);
        right: 52%; 
        top: 85rem; 
        height: 21rem;
        width: 15rem;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        background-color:  rgb(253, 236, 224);
        border: solid;
        display: flex;
        flex-direction: column;
      }

      .cp-day-1 {
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        flex-direction: column;
        flex-wrap: wrap;
        height: 22rem;
        width: 15rem;
        background-image: url('cp-day-1.jpg');
        top: 85rem;
        left: 52%;
        box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
        transition: 0.3s;
    }
  }


  

 .jumbotron {
    background-repeat: no-repeat;
    background-position: center center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    background-size: cover;
     text-align: center;
     background-image: url(prop.jpg);
     height: 48rem;
     width: 100%;
 }

 h1 {
     padding-top: 4rem;
     font-family: 'Dancing Script', cursive !important;
     font-size: 4rem;
     color: rgb(0, 0, 0);
     text-shadow: 2px 2px  rgba(0, 0, 0, 0.281);
 }

h3 {
    font-family: 'Dancing Script', cursive !important;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    padding-top: 30px;
    text-shadow: 2px 2px  rgba(0, 0, 0, 0.178);
}

.videoTag {
    display: flex;
}



 
a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.flex-container {
    display: flex;

}

.title {
    font-size: 30px;
    font-family: 'Dancing Script', cursive !important;
    text-justify: auto;
}

.subtitle {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: 'Dancing Script', cursive !important;
}
 
.card-day-1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.596);
    position: absolute;
    right: 52%; 
    top: 85rem; 
    height: 43.7rem;
    width: 30rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    text-align: center;
    background-color:  rgb(253, 236, 224);
    border: solid;
}

.cp-day-1 {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    height: 44rem;
    width: 30rem;
    background-image: url('cp-day-1.jpg');
    position: absolute;
    top: 85rem;
    left: 52%;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
    transition: 0.3s;
}

.card-day-2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.596);
    position: absolute;
    left: 52%;
    top: 135rem;
    height: 43.7rem;
    width: 30rem;
    text-align: center;
    background-color:  rgb(253, 236, 224);
    border: solid;
}

.cp-day-2 {
    float: none;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 44rem;
    width: 30rem;
    background-image: url('Image.jpeg');
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 135rem;
    right: 52%;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
    transition: 0.3s;
}


.info {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.596);
    position: absolute;
    top: 205rem;
    height: 40%;
    width: 100%;
    left: 0rem;
    text-align: center;
    background-color: rgb(253, 236, 224);
  }

 .info-text {
    font-size: 2rem;
    font-family: 'Dancing Script', cursive !important;
    text-justify: auto;
}

 .info-text a {
    float: none;
    align-items: center;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 6rem;
    font-family: 'Dancing Script', cursive !important;
    font-size: 30px;
    text-justify: auto;
 }

 .water-bg {
    background-repeat: no-repeat;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    background-size: cover;
 }

 /* $desktop: 1200px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px; */